@import url(https://cesium.com/downloads/cesiumjs/releases/1.116/Build/Cesium/Widgets/widgets.css);

.cesium-selection-wrapper {
    display: none !important;
}

#cesiumContainer {
    width: 100%;
    height: calc(85vh - 55px);
    float: left;
    position: relative;
}

#distanceControl {
    position: absolute;
    bottom: 20px;
    left: 15px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#distanceDisplay {
    margin-bottom: 5px;
}

#clearButton {
    margin-right: 10px;
}

#fileSelection {
    position: absolute;
    bottom: 100px;
    left: 10px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 50px;
}

#logoContainer {
    position: absolute;
    bottom: 110px;
    right: 10px;
    z-index: 1;
}

#logoContainer img {
    width: 200px;
}

#legendContainer {
    width: auto;
    float: left;
    padding: 20px;
    position: absolute;
    bottom: 110px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

#auxLegendContainer {
    width: auto;
    float: left;
    padding: 20px;
    position: absolute;
    bottom: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.legendItem {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
}

.legendColor {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.checkboxRow {
    display: flex;
    flex-wrap: wrap;
}

.checkboxRow label {
    margin-right: 10px;
}

#toggleButton,
#controlContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

#controlContainer {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1000;
}

#toggleGlobeContainer,
#toggleSubductionInterface,
#eqcontrols,
#toggleTerrainOcclusion {
    margin-bottom: 10px;
}

#eqcontrols {
    background-color: transparent;
}

.sliderContainer {
    margin-bottom: 10px;
}

.sliderLabel {
    margin-right: 10px;
}

