/* Styles for top menu and banner */
.top-menu,
.top-banner {
    background-color: #004F59;
    color: white;
    padding: 15px 10px;
    /* Increased height by 50px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Corrected from "rigt" for .top-menu */
}

/* Assuming intent to differentiate .top-menu background and alignment */
.top-menu {
    background-color: white;
    color: black;
    align-items: right;
    /* Assuming "right" was the intended value */
}

/* Style for the logo and company name container */
.logo-container {
    display: flex;
    align-items: center;
}

/* Style for the logo image */
.logo img {
    width: 150px;
    /* Adjust size as needed */
    height: auto;
    margin-right: 10px;
    /* Adjust spacing between logo and company name */
}

/* Style for the company name */
.company-name {
    font-size: 14px;
    margin-right: 10px;
    /* Adjust spacing between logo and company name */
}

/* Styles for the menu items */
.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-right: 10px;
    /* Adjust spacing between items */
}

.menu-items li:last-child {
    margin-right: 0;
    /* Remove margin for the last item */
}

.menu-items a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Style for descriptions */
.description {
    background-color: #eee;
    padding: 10px 20px;
}

/* Style for footer */
.footer {
    clear: both;
    background-color: #004F59;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Style for general container */
.container {
    width: 95%;
    /* 100% - (2 * 5%) */
    margin: 0 auto;
    /* 5% margin on top and bottom, auto left and right */
    padding: 10px;
    /* Optional: Add padding inside the container */
}